@font-face {
    font-family: "inter";
    src: url(../fonts/inter.ttf);
}

* {
    box-sizing: border-box;
font-family: "inter";
}

body {
    padding-top: 43px;
    padding-bottom: 153px;
}

h1 {
    width: 150px;
    height: 22px;
    font-weight: 700;
    font-size: 25px;
    line-height: 30.26px;
    color: #000000;
}

.input1 {
    margin-left: 0px;
    width: 195px; 
    height: 45px;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
}

.input2 {
    margin-left: 14px;
    width: 590px;
    height: 45px;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
}

.input3 {
margin-left: 17px;
width: 195px;
height: 45px;
background-color: #FFFFFF;
border-radius: 10px;
border: 1px solid #E0E0E0;
}

.inputbutton {
    margin-left: 16px;
    width: 115px;
    height: 45px;
    background-color: #FFD43A;
    font-weight: 500;
    font-size: 15px;
    line-height: 18.15px;
    color: #000000;
    border-radius: 10px;
    border: none;
}

h1 {
    margin-left: 370px;
    margin-bottom: 28px;
    width: 152px;
    height: 22px;
    font-weight: 700;
    font-size: 25px;
    line-height: 30.26px;
    color: #000000;
}

span {
    height: 22px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18.15px;
    color: #000000;
}
.s1 {
margin-left: 370px;
margin-right: 190px;
width: 16px;
}
.s2 {
    width: 49px;
    
}
.s3 {
    width: 109px;
    margin-left: 573px;
}
.s4 {
    width: 69px;
    margin-left: 166px;
}

input {
    outline: none;
    padding-top: 3px;
    padding-left: 16px;
}

form {
    width: 1158px;
}

table, td, th {
    border: 1px solid rgba(218, 218, 218, 1);
    border-collapse: collapse;
}

table{
    max-height: 627px;
max-width: 1160px;
font-size: 15px;
text-align: center; 
margin-top: 53px;
}

table th:nth-child(1) {
    width: 72px;
}
table th:nth-child(2) {
    width: 444px;
    text-align: start;
    padding-left: 23px;
}
table th:nth-child(3) {
    width: 276px;
}
table th:nth-child(4) {
    width: 368px;
}
    
tr {
    height: 57px;
}

button {
    display: inline-block;
    width: 115px;
    height: 36px;
    background-color: #E84949;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 11px; 
    outline: 0;
    border: none;
    color: #FFFFFF;
}

thead {
    font-weight: 700;
    line-height: 18.15px;
    background-color: #f9f9f9;
}

tbody {
    font-weight: 500;
    line-height: 18.15px;
    background-color: #FFFFFF;
}

.colum {
    text-align: start;
    padding-left: 23px;
}

.box {
    background-color: #FFD43A;
    color: #000;
}

caption {
    width: 152px;
    height: 22px;
    font-weight: 700;
    font-size: 25px;
line-height: 30.26px;
margin-bottom: 23px;
}




















